RestUWP/.vs/RestUWP/v14/.suo
RestUWP/RestUWP.sln
RestUWP/bin/x64/Debug/RestUWP.dll
RestUWP/bin/x64/Debug/RestUWP.pdb
RestUWP/bin/x64/Debug/RestUWP.pri
RestUWP/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestUWP/obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
RestUWP/obj/x64/Debug/RestUWP.csproj.FileListAbsolute.txt
RestUWP/obj/x64/Debug/RestUWP.csprojResolveAssemblyReference.cache
RestUWP/obj/x64/Debug/RestUWP.dll
RestUWP/obj/x64/Debug/RestUWP.pdb
RestUWP/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RestUWP/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RestUWP/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RestUWP/obj/x64/Debug/embed.resfiles
RestUWP/obj/x64/Debug/embed.resfiles.intermediate
RestUWP/obj/x64/Debug/layout.resfiles
RestUWP/obj/x64/Debug/layout.resfiles.intermediate
RestUWP/obj/x64/Debug/pri.resfiles
RestUWP/obj/x64/Debug/pri.resfiles.intermediate
RestUWP/obj/x64/Debug/priconfig.xml
RestUWP/obj/x64/Debug/priconfig.xml.intermediate
RestUWP/obj/x64/Debug/qualifiers.txt
RestUWP/obj/x64/Debug/qualifiers.txt.intermediate
RestUWP/obj/x64/Debug/resources.resfiles
RestUWP/obj/x64/Debug/resources.resfiles.intermediate
